@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    HRM PLAZA<br />
    Kochi,685566<br />
    <abbr title="Phone">MOB</abbr>
    8138828835
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hrm.com">support@hrm.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hrm.com">marketing@hrm.com</a>
</address>