@{
    ViewBag.Title = "Home Page";
}
<br>
<br>
<br>
<br
<br>
<br>
<div class="text-center" size="100%">
    <h1 class="display-4">The HR Manager</h1>

    <a type="button" class="btn btn-primary" href="/HR/EmployeeView">Manage your employees</a>
</div>
<br
<br>
<br>
<br
<br>
<br>
<br
<br>
<br>
<br
<br>
<br>
